# Исключаем всё
*

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.vrm
*.meta

!.gitignore

!Assets/
!Assets/MyFiles/
!Assets/MyFiles/Scripts/
!Assets/MyFiles/Scripts/**

!Assets/Resources/
!Assets/Resources/Prefabs
!Assets/Resources/Prefabs/UITK
!Assets/Resources/Prefabs/UITK/**
