# Исключаем всё
*

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.vrm


!.gitignore

!Assets/
!Assets/MyFiles/
!Assets/MyFiles/Scripts/
!Assets/MyFiles/Scripts/**

!Assets/MyFiles/UITK
!Assets/MyFiles/UITK/**


*.meta